
.mainTextContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.mainDescriptionText {
    font-family: 'Montserrat-Bold',serif;
    color: white;
    font-size: 50px;
}

.subDescriptionText {
    font-family: 'Montserrat-Bold',serif;
    color: white;
    font-size: 20px;
    padding-top: 15px;
}

.btnPadding {
    padding-top: 25px;
}

.mainContentContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.mainContentContainerPadding {
    margin-top: 140px;
}

@media (max-width: 600px) {
    .mainContentContainerPadding {
        margin-top: 70px;
    }
}