
.mainTextContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.mainDescriptionText {
    font-family: 'Montserrat-Bold',serif;
    color: white;
    font-size: 50px;
}

.subDescriptionText {
    font-family: 'Montserrat-Bold',serif;
    color: white;
    font-size: 20px;
    padding-top: 15px;
}

.connectSpotifyBtn {
    background-color: #1DB954;
    color: white;
    border-radius: 500px;
    font-size: 13px;
    font-family: 'Montserrat-Bold',serif;
    padding: 19px 56px 21px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btnPadding {
    padding-top: 15px;
}

.mainContentContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.mainContentContainerPadding {
    margin-top: 140px;
}

@media (max-width: 600px) {
    .mainContentContainerPadding {
        margin-top: 70px;
    }
}